body {
  font-family: sans-serif;
  background: #f7f7f7;
  padding: 20px;
}
input {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}